.ck-content {
  font-family: "usual", sans-serif;
  font-weight: 300;
  @import url("https://cloud.typography.com/7932236/7395812/css/fonts.css");
  @import url("https://use.typekit.net/axt6iqz.css");
}
.ck-content :root {
  font-size: 1rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .ck-content :root {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.ck-content :root {
  position: relative;
}
@font-face {
  font-family: "blackbikeclean";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/blackbike-clean-webfont.woff2") format("woff2"), url("../fonts/blackbike-clean-webfont.woff") format("woff");
}
@font-face {
  font-family: "blackbikerough";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/blackbike-rough-webfont.woff2") format("woff2"), url("../fonts/blackbike-rough-webfont.woff") format("woff");
}
.ck-content body {
  font-family: "usual", sans-serif;
  font-weight: 300;
}
.ck-content .font-mercury {
  font-family: "usual", sans-serif;
}
.ck-content .font-avenirnext {
  font-family: "usual", sans-serif;
}
.ck-content .font-usual {
  font-family: "usual", sans-serif;
}
.ck-content .font-surveyor {
  font-family: "bodoni-pt-variable", serif;
}
.ck-content .font-bodini {
  font-family: "bodoni-pt-variable", serif;
}
.ck-content .font-tradegothic {
  font-family: "alternate-gothic-atf", sans-serif;
}
.ck-content .font-gothic-atf {
  font-family: "alternate-gothic-atf", sans-serif;
}
.ck-content .font-blackbikeclean {
  font-family: "blackbikeclean", serif;
}
.ck-content .font-blackbikerough {
  font-family: "blackbikerough", serif;
}
@font-face {
  font-family: "iconfont";
  src: url("../fonts/icons-a1c42cc351.eot");
  src: url("../fonts/icons-a1c42cc351.eot?#iefix") format("eot"), url("../fonts/icons-c0da517334.woff2") format("woff2"), url("../fonts/icons-d1bb43d2b8.woff") format("woff"), url("../fonts/icons-6a3417fd96.ttf") format("truetype"), url("../fonts/icons-aa0f5d3c0d.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.ck-content .ic::before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ck-content .ic--lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.ck-content .ic--2x {
  font-size: 2em;
}
.ck-content .ic--3x {
  font-size: 3em;
}
.ck-content .ic--4x {
  font-size: 4em;
}
.ck-content .ic--5x {
  font-size: 5em;
}
.ck-content .ic--fw {
  width: 1.2857142857em;
  text-align: center;
}
.ck-content .ic--alert::before {
  content: "\ea01";
}
.ck-content .ic--angle-left::before {
  content: "\ea02";
}
.ck-content .ic--angle-right::before {
  content: "\ea03";
}
.ck-content .ic--angle-up::before {
  content: "\ea04";
}
.ck-content .ic--audio::before {
  content: "\ea05";
}
.ck-content .ic--bluesky-block::before {
  content: "\ea06";
}
.ck-content .ic--bluesky::before {
  content: "\ea07";
}
.ck-content .ic--bolt::before {
  content: "\ea08";
}
.ck-content .ic--camera::before {
  content: "\ea09";
}
.ck-content .ic--checker-3-fill::before {
  content: "\ea0a";
}
.ck-content .ic--checker-4-nofill::before {
  content: "\ea0b";
}
.ck-content .ic--clock::before {
  content: "\ea0c";
}
.ck-content .ic--close::before {
  content: "\ea0d";
}
.ck-content .ic--discord-block::before {
  content: "\ea0e";
}
.ck-content .ic--discord::before {
  content: "\ea0f";
}
.ck-content .ic--event::before {
  content: "\ea10";
}
.ck-content .ic--facebook-block::before {
  content: "\ea11";
}
.ck-content .ic--facebook::before {
  content: "\ea12";
}
.ck-content .ic--gallery-open::before {
  content: "\ea13";
}
.ck-content .ic--home::before {
  content: "\ea14";
}
.ck-content .ic--info::before {
  content: "\ea15";
}
.ck-content .ic--instagram-block::before {
  content: "\ea16";
}
.ck-content .ic--instagram::before {
  content: "\ea17";
}
.ck-content .ic--linkedin-block::before {
  content: "\ea18";
}
.ck-content .ic--linkedin::before {
  content: "\ea19";
}
.ck-content .ic--magnify::before {
  content: "\ea1a";
}
.ck-content .ic--menu::before {
  content: "\ea1b";
}
.ck-content .ic--pause::before {
  content: "\ea1c";
}
.ck-content .ic--pin::before {
  content: "\ea1d";
}
.ck-content .ic--pinterest-block::before {
  content: "\ea1e";
}
.ck-content .ic--pinterest::before {
  content: "\ea1f";
}
.ck-content .ic--play-triangle::before {
  content: "\ea20";
}
.ck-content .ic--popup::before {
  content: "\ea21";
}
.ck-content .ic--quote-close::before {
  content: "\ea22";
}
.ck-content .ic--quote-open::before {
  content: "\ea23";
}
.ck-content .ic--reddit-block::before {
  content: "\ea24";
}
.ck-content .ic--reddit::before {
  content: "\ea25";
}
.ck-content .ic--rss::before {
  content: "\ea26";
}
.ck-content .ic--snapchat-block::before {
  content: "\ea27";
}
.ck-content .ic--snapchat::before {
  content: "\ea28";
}
.ck-content .ic--threads-block::before {
  content: "\ea29";
}
.ck-content .ic--threads::before {
  content: "\ea2a";
}
.ck-content .ic--tiktok-block::before {
  content: "\ea2b";
}
.ck-content .ic--tiktok::before {
  content: "\ea2c";
}
.ck-content .ic--triangle-left::before {
  content: "\ea2d";
}
.ck-content .ic--twitch-block::before {
  content: "\ea2e";
}
.ck-content .ic--twitch::before {
  content: "\ea2f";
}
.ck-content .ic--twitter-block::before {
  content: "\ea30";
}
.ck-content .ic--twitter::before {
  content: "\ea31";
}
.ck-content .ic--video::before {
  content: "\ea32";
}
.ck-content .ic--x-block::before {
  content: "\ea33";
}
.ck-content .ic--x::before {
  content: "\ea34";
}
.ck-content .ic--youtube-block::before {
  content: "\ea35";
}
.ck-content .ic--youtube::before {
  content: "\ea36";
}
.ck-content .text-xs-hpc {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.75rem;
  line-height: 0rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xs-hpc {
    font-size: 0.75rem;
    line-height: 0rem;
  }
}
.ck-content .text-xs-squeeze {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.75rem;
  line-height: 0.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xs-squeeze {
    font-size: 0.75rem;
    line-height: 0.5rem;
  }
}
.ck-content .text-xs-tight {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.75rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xs-tight {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.ck-content .text-xs-medium {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.75rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xs-medium {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
}
.ck-content .text-xs-wide {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.75rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xs-wide {
    font-size: 0.75rem;
    line-height: 2rem;
  }
}
.ck-content .text-xs-huge {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.75rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xs-huge {
    font-size: 0.75rem;
    line-height: 2.5rem;
  }
}
.ck-content .text-xs-redic {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.75rem;
  line-height: 3rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xs-redic {
    font-size: 0.75rem;
    line-height: 3rem;
  }
}
.ck-content .text-s-hpc {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.875rem;
  line-height: 0rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-s-hpc {
    font-size: 0.875rem;
    line-height: 0rem;
  }
}
.ck-content .text-s-squeeze {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.875rem;
  line-height: 0.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-s-squeeze {
    font-size: 0.875rem;
    line-height: 0.5rem;
  }
}
.ck-content .text-s-tight {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.875rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-s-tight {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
.ck-content .text-s-medium {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.875rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-s-medium {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
.ck-content .text-s-wide {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.875rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-s-wide {
    font-size: 0.875rem;
    line-height: 2rem;
  }
}
.ck-content .text-s-huge {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.875rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-s-huge {
    font-size: 0.875rem;
    line-height: 2.5rem;
  }
}
.ck-content .text-s-redic {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 0.875rem;
  line-height: 3rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-s-redic {
    font-size: 0.875rem;
    line-height: 3rem;
  }
}
.ck-content .text-r-hpc {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1rem;
  line-height: 0rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-r-hpc {
    font-size: 1rem;
    line-height: 0rem;
  }
}
.ck-content .text-r-squeeze {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1rem;
  line-height: 0.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-r-squeeze {
    font-size: 1rem;
    line-height: 0.5rem;
  }
}
.ck-content .text-r-tight {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-r-tight {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.ck-content .text-r-medium {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-r-medium {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.ck-content .text-r-wide {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-r-wide {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.ck-content .text-r-huge {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-r-huge {
    font-size: 1rem;
    line-height: 2.5rem;
  }
}
.ck-content .text-r-redic {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1rem;
  line-height: 3rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-r-redic {
    font-size: 1rem;
    line-height: 3rem;
  }
}
.ck-content .text-l-hpc {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.1667rem;
  line-height: 0.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-l-hpc {
    font-size: 1.1667rem;
    line-height: 0.5rem;
  }
}
.ck-content .text-l-squeeze {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.1667rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-l-squeeze {
    font-size: 1.1667rem;
    line-height: 1rem;
  }
}
.ck-content .text-l-tight {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.1667rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-l-tight {
    font-size: 1.1667rem;
    line-height: 1.5rem;
  }
}
.ck-content .text-l-medium {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.1667rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-l-medium {
    font-size: 1.1667rem;
    line-height: 2rem;
  }
}
.ck-content .text-l-wide {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.1667rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-l-wide {
    font-size: 1.1667rem;
    line-height: 2.5rem;
  }
}
.ck-content .text-l-huge {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.1667rem;
  line-height: 3rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-l-huge {
    font-size: 1.1667rem;
    line-height: 3rem;
  }
}
.ck-content .text-l-redic {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.1667rem;
  line-height: 3.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-l-redic {
    font-size: 1.1667rem;
    line-height: 3.5rem;
  }
}
.ck-content .text-xl-hpc {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.25rem;
  line-height: 0.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xl-hpc {
    font-size: 1.25rem;
    line-height: 0.5rem;
  }
}
.ck-content .text-xl-squeeze {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.25rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xl-squeeze {
    font-size: 1.25rem;
    line-height: 1rem;
  }
}
.ck-content .text-xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.25rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xl-tight {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
.ck-content .text-xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.25rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xl-medium {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
.ck-content .text-xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.25rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xl-wide {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}
.ck-content .text-xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.25rem;
  line-height: 3rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xl-huge {
    font-size: 1.25rem;
    line-height: 3rem;
  }
}
.ck-content .text-xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.25rem;
  line-height: 3.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-xl-redic {
    font-size: 1.25rem;
    line-height: 3.5rem;
  }
}
.ck-content .text-2xl-hpc {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.5rem;
  line-height: 0.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-2xl-hpc {
    font-size: 1.5rem;
    line-height: 0.5rem;
  }
}
.ck-content .text-2xl-squeeze {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.5rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-2xl-squeeze {
    font-size: 1.5rem;
    line-height: 1rem;
  }
}
.ck-content .text-2xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.5rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-2xl-tight {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
.ck-content .text-2xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-2xl-medium {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.ck-content .text-2xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-2xl-wide {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
.ck-content .text-2xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.5rem;
  line-height: 3rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-2xl-huge {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
.ck-content .text-2xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.5rem;
  line-height: 3.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-2xl-redic {
    font-size: 1.5rem;
    line-height: 3.5rem;
  }
}
.ck-content .text-3xl-hpc {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.775rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-3xl-hpc {
    font-size: 1.875rem;
    line-height: 1rem;
  }
}
.ck-content .text-3xl-squeeze {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.775rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-3xl-squeeze {
    font-size: 1.875rem;
    line-height: 1.5rem;
  }
}
.ck-content .text-3xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.775rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-3xl-tight {
    font-size: 1.875rem;
    line-height: 2rem;
  }
}
.ck-content .text-3xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.775rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-3xl-medium {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
}
.ck-content .text-3xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.775rem;
  line-height: 3rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-3xl-wide {
    font-size: 1.875rem;
    line-height: 3rem;
  }
}
.ck-content .text-3xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.775rem;
  line-height: 3.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-3xl-huge {
    font-size: 1.875rem;
    line-height: 3.5rem;
  }
}
.ck-content .text-3xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 1.775rem;
  line-height: 4rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-3xl-redic {
    font-size: 1.875rem;
    line-height: 4rem;
  }
}
.ck-content .text-4xl-hpc {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-4xl-hpc {
    font-size: 2.375rem;
    line-height: 1.5rem;
  }
}
.ck-content .text-4xl-squeeze {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-4xl-squeeze {
    font-size: 2.375rem;
    line-height: 2rem;
  }
}
.ck-content .text-4xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-4xl-tight {
    font-size: 2.375rem;
    line-height: 2.5rem;
  }
}
.ck-content .text-4xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-4xl-medium {
    font-size: 2.375rem;
    line-height: 3rem;
  }
}
.ck-content .text-4xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2rem;
  line-height: 3rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-4xl-wide {
    font-size: 2.375rem;
    line-height: 3.5rem;
  }
}
.ck-content .text-4xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2rem;
  line-height: 3.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-4xl-huge {
    font-size: 2.375rem;
    line-height: 4rem;
  }
}
.ck-content .text-4xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2rem;
  line-height: 4rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-4xl-redic {
    font-size: 2.375rem;
    line-height: 4.5rem;
  }
}
.ck-content .text-5xl-hpc {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2.4286rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-5xl-hpc {
    font-size: 3.4286rem;
    line-height: 2.5rem;
  }
}
.ck-content .text-5xl-squeeze {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2.4286rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-5xl-squeeze {
    font-size: 3.4286rem;
    line-height: 3rem;
  }
}
.ck-content .text-5xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2.4286rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-5xl-tight {
    font-size: 3.4286rem;
    line-height: 3.5rem;
  }
}
.ck-content .text-5xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2.4286rem;
  line-height: 3rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-5xl-medium {
    font-size: 3.4286rem;
    line-height: 4rem;
  }
}
.ck-content .text-5xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2.4286rem;
  line-height: 3.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-5xl-wide {
    font-size: 3.4286rem;
    line-height: 4.5rem;
  }
}
.ck-content .text-5xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2.4286rem;
  line-height: 4rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-5xl-huge {
    font-size: 3.4286rem;
    line-height: 5rem;
  }
}
.ck-content .text-5xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 2.4286rem;
  line-height: 4.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-5xl-redic {
    font-size: 3.4286rem;
    line-height: 5.5rem;
  }
}
.ck-content .text-6xl-hpc {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 4.5rem;
  line-height: 3.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-6xl-hpc {
    font-size: 6.3rem;
    line-height: 5.5rem;
  }
}
.ck-content .text-6xl-squeeze {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 4.5rem;
  line-height: 4rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-6xl-squeeze {
    font-size: 6.3rem;
    line-height: 6rem;
  }
}
.ck-content .text-6xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 4.5rem;
  line-height: 4.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-6xl-tight {
    font-size: 6.3rem;
    line-height: 6.5rem;
  }
}
.ck-content .text-6xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 4.5rem;
  line-height: 5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-6xl-medium {
    font-size: 6.3rem;
    line-height: 7rem;
  }
}
.ck-content .text-6xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 4.5rem;
  line-height: 5.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-6xl-wide {
    font-size: 6.3rem;
    line-height: 7.5rem;
  }
}
.ck-content .text-6xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 4.5rem;
  line-height: 6rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-6xl-huge {
    font-size: 6.3rem;
    line-height: 8rem;
  }
}
.ck-content .text-6xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  font-size: 4.5rem;
  line-height: 6.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .text-6xl-redic {
    font-size: 6.3rem;
    line-height: 8.5rem;
  }
}
.ck-content .nc-placeholder {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  box-shadow: #0033a0 0 0 0 6px inset;
}
.ck-content .nc-placeholder p {
  font-size: 1.1667rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .nc-placeholder p {
    font-size: 1.1667rem;
    line-height: 2.5rem;
  }
}
.ck-content .checker-divider {
  border-bottom-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.ck-content .checker-divider::after {
  max-width: 72rem;
  margin: 0 auto;
}
.ck-content .checker-divider::after > :first-child {
  margin-top: 0;
}
.ck-content .checker-divider::after > :last-child {
  margin-bottom: 0;
}
.ck-content .checker-divider::after {
  display: block;
  width: 100%;
  font-family: "iconfont";
  content: "\ea09";
  color: #fff;
  font-style: normal;
  font-weight: normal;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 40px;
  text-align: right;
  position: relative;
  bottom: -1rem;
}
@media screen and (min-width: 35rem) {
  .ck-content .checker-divider::after {
    bottom: -1.5rem;
  }
}
@media screen and (min-width: 58rem) {
  .ck-content .checker-divider::after {
    bottom: -1.5rem;
  }
}
@media screen and (min-width: 76rem) {
  .ck-content .checker-divider::after {
    bottom: -2.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .ck-content .checker-divider::after {
    bottom: -2.5rem;
  }
}
.ck-content .checker-divider::after {
  padding: 0 1rem;
}
@media screen and (min-width: 35rem) {
  .ck-content .checker-divider::after {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 58rem) {
  .ck-content .checker-divider::after {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 76rem) {
  .ck-content .checker-divider::after {
    padding: 0 0;
  }
}
@media screen and (min-width: 80rem) {
  .ck-content .checker-divider::after {
    padding: 0 0;
  }
}
.ck-content .checker-divider.page-header.page-header--hero::after {
  bottom: 0;
}
.ck-content .checker-endmark::after {
  width: 100%;
  font-family: "iconfont";
  content: "\ea08";
  display: block;
  color: #0033a0;
  font-style: normal;
  font-weight: normal;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
}
.ck-content html {
  box-sizing: border-box;
}
.ck-content img {
  display: block;
  width: 100%;
  height: auto;
}
.ck-content hr {
  margin-top: calc(1.25rem - 1px);
  margin-bottom: 1.25rem;
  border: 1px dashed #c8c8c7;
  border-width: 0 0 1px;
}
.ck-content .show-for-sr,
.ck-content .invisible {
  display: block;
  position: absolute;
  top: -999999em;
  left: -999999em;
}
.ck-content .show-for-none {
  display: none;
}
.ck-content button::-moz-focus-inner {
  border: 0;
}
.ck-content .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
.ck-content .icon-catalog {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ck-content .icon-catalog > li {
  margin-left: 0;
  text-indent: 0;
}
.ck-content .icon-catalog > li::before {
  display: none;
}
.ck-content .icon-catalog .icon-label .ic {
  width: 1em;
}
.ck-content .icon-catalog .icon-label .label {
  margin-left: 0.5em;
}
.ck-content .icon-catalog li {
  font-size: 1.25rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .icon-catalog li {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}
.ck-content p {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.ck-content p {
  margin-bottom: 1rem;
}
.ck-content .intro {
  font-size: 1.25rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .intro {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
.ck-content .intro p {
  font-size: 1.25rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .intro p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
.ck-content code {
  font-size: 0.8em;
}
.ck-content .text-left {
  text-align: left;
}
.ck-content .text-right {
  text-align: right;
}
.ck-content .text-center {
  text-align: center;
}
.ck-content .text-justify {
  text-align: justify;
}
.ck-content .text-justified-and-ancient {
  font-family: fantasy;
  text-align: justify;
}
.ck-content a {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.ck-content .underline-link,
.ck-content .editorial a {
  background-attachment: scroll;
  background-image: linear-gradient(to top, rgba(161, 211, 237, 0.4) 0, rgba(161, 211, 237, 0.4) 0.5em, transparent 0.5em, transparent 110%), linear-gradient(to top, rgba(0, 51, 160, 0.4) 0, rgba(0, 51, 160, 0.4) 2px, transparent 2px, transparent 100%);
  background-repeat: no-repeat;
  background-position: 0 0.5em, 0 0;
}
.ck-content .underline-link:link, .ck-content .underline-link:visited,
.ck-content .editorial a:link,
.ck-content .editorial a:visited {
  color: #000000;
}
.ck-content .underline-link:hover, .ck-content .underline-link:active,
.ck-content .editorial a:hover,
.ck-content .editorial a:active {
  color: #0033a0;
}
.ck-content .underline-link,
.ck-content .editorial a {
  position: relative;
  transition: 0.2s background-position ease-out;
  font-weight: 300;
  text-decoration: none;
  z-index: 1;
}
.ck-content .underline-link.link--fancy,
.ck-content .editorial a.link--fancy {
  background-image: none;
}
.ck-content .underline-link:active, .ck-content .underline-link:hover,
.ck-content .editorial a:active,
.ck-content .editorial a:hover {
  background-position: 0 0, 1000px 2px;
}
.ck-content .underline-link,
.ck-content .editorial a {
  text-decoration: none;
}
.ck-content .underline-link--light {
  background-attachment: scroll;
  background-image: linear-gradient(to top, rgba(161, 211, 237, 0.4) 0, rgba(161, 211, 237, 0.4) 0.5em, transparent 0.5em, transparent 110%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0, rgba(255, 255, 255, 0.4) 2px, transparent 2px, transparent 100%);
  background-repeat: no-repeat;
  background-position: 0 0.5em, 0 0;
}
.ck-content .underline-link--light:link, .ck-content .underline-link--light:visited {
  color: #000000;
}
.ck-content .underline-link--light:hover, .ck-content .underline-link--light:active {
  color: #0033a0;
}
.ck-content .underline-link--light {
  position: relative;
  transition: 0.2s background-position ease-out;
  font-weight: 300;
  text-decoration: none;
  z-index: 1;
}
.ck-content .underline-link--light.link--fancy {
  background-image: none;
}
.ck-content .underline-link--light:active, .ck-content .underline-link--light:hover {
  background-position: 0 0, 1000px 2px;
}
.ck-content .link--fancy,
.ck-content .link--fancy-reverse,
.ck-content .editorial .link--fancy,
.ck-content .editorial .link--fancy-reverse {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .link--fancy,
  .ck-content .link--fancy-reverse,
  .ck-content .editorial .link--fancy,
  .ck-content .editorial .link--fancy-reverse {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
.ck-content .link--fancy:link, .ck-content .link--fancy:visited,
.ck-content .link--fancy-reverse:link,
.ck-content .link--fancy-reverse:visited,
.ck-content .editorial .link--fancy:link,
.ck-content .editorial .link--fancy:visited,
.ck-content .editorial .link--fancy-reverse:link,
.ck-content .editorial .link--fancy-reverse:visited {
  color: var(--fancy-link);
}
.ck-content .link--fancy:hover, .ck-content .link--fancy:active,
.ck-content .link--fancy-reverse:hover,
.ck-content .link--fancy-reverse:active,
.ck-content .editorial .link--fancy:hover,
.ck-content .editorial .link--fancy:active,
.ck-content .editorial .link--fancy-reverse:hover,
.ck-content .editorial .link--fancy-reverse:active {
  color: var(--fancy-link-active);
}
.ck-content .link--fancy,
.ck-content .link--fancy-reverse,
.ck-content .editorial .link--fancy,
.ck-content .editorial .link--fancy-reverse {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  transition: color 0.2s ease-in-out;
  font-weight: 500;
  text-decoration: none;
}
.ck-content .link--fancy::before,
.ck-content .link--fancy-reverse::before,
.ck-content .editorial .link--fancy::before,
.ck-content .editorial .link--fancy-reverse::before {
  position: absolute;
  left: 0.25em;
  transition: left 0.3s ease-in-out;
  color: #1897d4;
  font-family: iconfont;
  font-size: 0.7em;
  content: "\ea03";
}
.ck-content .link--fancy:hover::before, .ck-content .link--fancy:active::before,
.ck-content .link--fancy-reverse:hover::before,
.ck-content .link--fancy-reverse:active::before,
.ck-content .editorial .link--fancy:hover::before,
.ck-content .editorial .link--fancy:active::before,
.ck-content .editorial .link--fancy-reverse:hover::before,
.ck-content .editorial .link--fancy-reverse:active::before {
  left: 0.5em;
}
.ck-content .link--fancy-reverse::before,
.ck-content .editorial a.link--fancy-reverse::before {
  left: 0.25em;
  content: "\ea02";
}
.ck-content .link--fancy-reverse:hover::before, .ck-content .link--fancy-reverse:active::before,
.ck-content .editorial a.link--fancy-reverse:hover::before,
.ck-content .editorial a.link--fancy-reverse:active::before {
  left: 0;
}
.ck-content .editorial .link--fancy,
.ck-content .editorial .link--fancy-reverse {
  font-size: 1.1667rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .editorial .link--fancy,
  .ck-content .editorial .link--fancy-reverse {
    font-size: 1.1667rem;
    line-height: 1.5rem;
  }
}
.ck-content .art-link {
  display: inline-block;
  max-width: 18rem;
  padding: 0;
  background-color: #000000;
  text-decoration: none;
}
.ck-content .art-link .icon-label {
  align-items: stretch;
}
.ck-content .art-link .icon-label .ic {
  margin: 0;
  padding: 0.5rem 0.3rem;
  background-color: #1897d4;
  color: #fff;
  font-size: 2.6rem;
}
.ck-content .art-link .icon-label .label {
  align-self: center;
  margin: 0;
  padding: 0.5rem 1em;
  background-image: none;
  font-size: 1.167rem;
  line-height: 1;
  text-decoration: none;
}
.ck-content .art-link:link .icon-label .ic,
.ck-content .art-link:link .icon-label .label, .ck-content .art-link:visited .icon-label .ic,
.ck-content .art-link:visited .icon-label .label {
  color: #fff;
}
.ck-content .art-link:hover .icon-label .label, .ck-content .art-link:active .icon-label .label {
  text-decoration: underline;
}
.ck-content .art-link.campus-map {
  background-image: url("../images/campus-map-texture.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
}
.ck-content .formatted-text--dark {
  --link: var(--color-wildcat-white);
  --link-active: var(--color-sky);
  --menu-icon-color: var(--color-cool-neutral);
  --menu-icon-color-active: var(--color-cool-neutral);
  --text: var(--color-wildcat-white);
  --accent: var(--color-river-green);
  --button-border: var(--color-wildcat-white);
  --button-background: var(--color-wildcat-white);
  --button-text: var(--color-wildcat-blue);
  --button-disabled-border: rgba(237, 237, 237, 0.66);
  --button-disabled-background: rgba(237, 237, 237, 0.66);
  --button-disabled-text: var(--color-wildcat-blue);
  --button-hover-border: var(--color-wildcat-white);
  --button-hover-background: var(--color-wildcat-blue);
  --button-hover-text: var(--color-wildcat-white);
  --button-active-border: var(--color-dark-blue);
  --button-active-background: var(--color-cool-neutral);
  --button-active-text: var(--color-wildcat-blue);
  --button-focus-border: var(--color-wildcat-white);
  --button-focus-background: var(--color-cool-neutral);
  --button-focus-text: var(--color-wildcat-blue);
  --fancy-link: var(--color-wildcat-white);
  --fancy-link-active: var(--color-sky);
  --headline-group-super: var(--color-cool-neutral);
  --headline-group-head: var(--color-wildcat-white);
  --headline-group-sub: var(--color-cool-neutral);
  --media-citation: var(--color-wildcat-white);
  --carousel-single-button: var(--color-dark-gray);
  --carousel-single-button-art: var(--color-wildcat-white);
  --carousel-center-button: transparent;
  --carousel-center-button-art: var(--color-wildcat-white);
  --carousel-dot: var(--color-subtle-gray);
  --carousel-dot-active: var(--color-sky);
  --carousel-center-caption: var(--color-wildcat-black);
  --media-background: var(--color-wildcat-black);
  --statistic-head-color: var(--color-wildcat-white);
  --statistic-subhead-color: var(--color-sky);
  --logo-color: var(--color-wildcat-white);
  --wordmark-color: var(--color-wildcat-white);
  --dashed-border-color: rgba(255, 255, 255, 0.3);
  --form-borders: transparent;
}
.ck-content .formatted-text--dark a:link, .ck-content .formatted-text--dark a:visited {
  color: var(--link);
}
.ck-content .formatted-text--dark a:hover, .ck-content .formatted-text--dark a:active {
  color: var(--link-active);
}
.ck-content .formatted-text--dark a.button:link, .ck-content .formatted-text--dark a.button:visited {
  color: var(--button-text);
}
.ck-content .formatted-text--dark a.button:hover, .ck-content .formatted-text--dark a.button:active {
  color: var(--button-hover-text);
}
.ck-content .formatted-text--dark {
  color: var(--text);
  background-color: #000000;
}
.ck-content .calendar-preview {
  color: #0033a0;
  height: 6rem;
  padding: 15px;
}
.ck-content .calendar-preview .stacked-date {
  font-size: 2rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .calendar-preview .stacked-date {
    font-size: 2.375rem;
    line-height: 2rem;
  }
}
.ck-content .calendar-preview .stacked-date {
  border-right: solid 2px #0033a0;
  display: inline-block;
  font-weight: 600;
  height: 100%;
  width: 33%;
}
.ck-content .calendar-preview .calendar-heading {
  display: inline-block;
  height: 100%;
  padding: 1rem;
  vertical-align: top;
  width: 60%;
}
.ck-content button,
.ck-content a.button,
.ck-content input.button {
  font-size: 1.1667rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content button,
  .ck-content a.button,
  .ck-content input.button {
    font-size: 1.1667rem;
    line-height: 1.5rem;
  }
}
.ck-content button,
.ck-content a.button,
.ck-content input.button {
  display: block;
  width: 80%;
  margin: 0.5rem auto;
}
@media screen and (min-width: 35rem) {
  .ck-content button,
  .ck-content a.button,
  .ck-content input.button {
    display: inline-block;
    width: auto;
    margin: 0;
  }
}
.ck-content button,
.ck-content a.button,
.ck-content input.button {
  padding-top: calc(1rem - 2px);
  padding-right: calc(1.875rem - 3px);
  padding-bottom: calc(1rem - 4px);
  padding-left: calc(1.875rem - 3px);
  transition: 0.3s ease-in-out;
  border-width: 2px;
  border-color: var(--button-border);
  background-color: var(--button-background);
  color: var(--button-text);
  border-style: solid;
  font-family: "usual", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.ck-content button:link, .ck-content button:visited,
.ck-content a.button:link,
.ck-content a.button:visited,
.ck-content input.button:link,
.ck-content input.button:visited {
  border-color: var(--button-border);
  background-color: var(--button-background);
  color: var(--button-text);
}
.ck-content button[disabled],
.ck-content a.button[disabled],
.ck-content input.button[disabled] {
  border-color: var(--button-disabled-border) !important;
  background-color: var(--button-disabled-background) !important;
  color: var(--button-disabled-text) !important;
}
.ck-content button[disabled].button--ghost,
.ck-content a.button[disabled].button--ghost,
.ck-content input.button[disabled].button--ghost {
  background-color: transparent !important;
  color: var(--button-disabled-text) !important;
}
.ck-content button:hover,
.ck-content a.button:hover,
.ck-content input.button:hover {
  border-color: var(--button-hover-border);
  background-color: var(--button-hover-background);
  color: var(--button-hover-text);
}
.ck-content button:hover.button--ghost,
.ck-content a.button:hover.button--ghost,
.ck-content input.button:hover.button--ghost {
  background-color: var(--button-background);
  border-color: var(--button-background);
  --button-hover-text: var(--button-hover-background);
}
.ck-content button:active, .ck-content button[aria-pressed=true],
.ck-content a.button:active,
.ck-content a.button[aria-pressed=true],
.ck-content input.button:active,
.ck-content input.button[aria-pressed=true] {
  border-color: var(--button-active-border);
  background-color: var(--button-active-background);
  color: var(--button-active-text);
}
.ck-content button:active.button--ghost, .ck-content button[aria-pressed=true].button--ghost,
.ck-content a.button:active.button--ghost,
.ck-content a.button[aria-pressed=true].button--ghost,
.ck-content input.button:active.button--ghost,
.ck-content input.button[aria-pressed=true].button--ghost {
  color: var(--button-active-text);
}
.ck-content button:active.button--transparent, .ck-content button[aria-pressed=true].button--transparent,
.ck-content a.button:active.button--transparent,
.ck-content a.button[aria-pressed=true].button--transparent,
.ck-content input.button:active.button--transparent,
.ck-content input.button[aria-pressed=true].button--transparent {
  border-color: transparent;
  background-color: transparent;
  color: var(--button-active-border);
}
.ck-content button:focus,
.ck-content a.button:focus,
.ck-content input.button:focus {
  border-color: var(--button-focus-border);
  outline: none;
  background-color: var(--button-focus-background);
  color: var(--button-focus-text);
}
.ck-content button:focus.button--ghost,
.ck-content a.button:focus.button--ghost,
.ck-content input.button:focus.button--ghost {
  color: var(--button-focus-text);
}
.ck-content button.button--wildcat-blue,
.ck-content a.button.button--wildcat-blue,
.ck-content input.button.button--wildcat-blue {
  background-color: #0033a0;
}
.ck-content button.button--wildcat-blue .heading--display span,
.ck-content a.button.button--wildcat-blue .heading--display span,
.ck-content input.button.button--wildcat-blue .heading--display span {
  background-color: #0033a0;
}
.ck-content button.button--wildcat-white,
.ck-content a.button.button--wildcat-white,
.ck-content input.button.button--wildcat-white {
  background-color: #fff;
}
.ck-content button.button--wildcat-white .heading--display span,
.ck-content a.button.button--wildcat-white .heading--display span,
.ck-content input.button.button--wildcat-white .heading--display span {
  background-color: #fff;
}
.ck-content button.button--bluegrass,
.ck-content a.button.button--bluegrass,
.ck-content input.button.button--bluegrass {
  background-color: #0071eb;
}
.ck-content button.button--bluegrass .heading--display span,
.ck-content a.button.button--bluegrass .heading--display span,
.ck-content input.button.button--bluegrass .heading--display span {
  background-color: #0071eb;
}
.ck-content button.button--sky,
.ck-content a.button.button--sky,
.ck-content input.button.button--sky {
  background-color: #B1C9E8;
}
.ck-content button.button--sky .heading--display span,
.ck-content a.button.button--sky .heading--display span,
.ck-content input.button.button--sky .heading--display span {
  background-color: #B1C9E8;
}
.ck-content button.button--midnight,
.ck-content a.button.button--midnight,
.ck-content input.button.button--midnight {
  background-color: #041E42;
}
.ck-content button.button--midnight .heading--display span,
.ck-content a.button.button--midnight .heading--display span,
.ck-content input.button.button--midnight .heading--display span {
  background-color: #041E42;
}
.ck-content button.button--goldenrod,
.ck-content a.button.button--goldenrod,
.ck-content input.button.button--goldenrod {
  background-color: #FFDC00;
}
.ck-content button.button--goldenrod .heading--display span,
.ck-content a.button.button--goldenrod .heading--display span,
.ck-content input.button.button--goldenrod .heading--display span {
  background-color: #FFDC00;
}
.ck-content button.button--sunset,
.ck-content a.button.button--sunset,
.ck-content input.button.button--sunset {
  background-color: #FFA360;
}
.ck-content button.button--sunset .heading--display span,
.ck-content a.button.button--sunset .heading--display span,
.ck-content input.button.button--sunset .heading--display span {
  background-color: #FFA360;
}
.ck-content button.button--river-green,
.ck-content a.button.button--river-green,
.ck-content input.button.button--river-green {
  background-color: #4CBCC0;
}
.ck-content button.button--river-green .heading--display span,
.ck-content a.button.button--river-green .heading--display span,
.ck-content input.button.button--river-green .heading--display span {
  background-color: #4CBCC0;
}
.ck-content button.button--cool-neutral,
.ck-content a.button.button--cool-neutral,
.ck-content input.button.button--cool-neutral {
  background-color: #DCDDDE;
}
.ck-content button.button--cool-neutral .heading--display span,
.ck-content a.button.button--cool-neutral .heading--display span,
.ck-content input.button.button--cool-neutral .heading--display span {
  background-color: #DCDDDE;
}
.ck-content button.button--warm-neutral-20,
.ck-content a.button.button--warm-neutral-20,
.ck-content input.button.button--warm-neutral-20 {
  background-color: #F9F9F5;
}
.ck-content button.button--warm-neutral-20 .heading--display span,
.ck-content a.button.button--warm-neutral-20 .heading--display span,
.ck-content input.button.button--warm-neutral-20 .heading--display span {
  background-color: #F9F9F5;
}
.ck-content button.button--warm-neutral-60,
.ck-content a.button.button--warm-neutral-60,
.ck-content input.button.button--warm-neutral-60 {
  background-color: #EFEBE2;
}
.ck-content button.button--warm-neutral-60 .heading--display span,
.ck-content a.button.button--warm-neutral-60 .heading--display span,
.ck-content input.button.button--warm-neutral-60 .heading--display span {
  background-color: #EFEBE2;
}
.ck-content button.button--warm-neutral,
.ck-content a.button.button--warm-neutral,
.ck-content input.button.button--warm-neutral {
  background-color: #D6D2C4;
}
.ck-content button.button--warm-neutral .heading--display span,
.ck-content a.button.button--warm-neutral .heading--display span,
.ck-content input.button.button--warm-neutral .heading--display span {
  background-color: #D6D2C4;
}
.ck-content button.button--wildcat-black,
.ck-content a.button.button--wildcat-black,
.ck-content input.button.button--wildcat-black {
  background-color: #000000;
}
.ck-content button.button--wildcat-black .heading--display span,
.ck-content a.button.button--wildcat-black .heading--display span,
.ck-content input.button.button--wildcat-black .heading--display span {
  background-color: #000000;
}
.ck-content button.button--light-blue,
.ck-content a.button.button--light-blue,
.ck-content input.button.button--light-blue {
  background-color: #1897d4;
}
.ck-content button.button--light-blue .heading--display span,
.ck-content a.button.button--light-blue .heading--display span,
.ck-content input.button.button--light-blue .heading--display span {
  background-color: #1897d4;
}
.ck-content button.button--medium-blue,
.ck-content a.button.button--medium-blue,
.ck-content input.button.button--medium-blue {
  background-color: #2b3a82;
}
.ck-content button.button--medium-blue .heading--display span,
.ck-content a.button.button--medium-blue .heading--display span,
.ck-content input.button.button--medium-blue .heading--display span {
  background-color: #2b3a82;
}
.ck-content button.button--dark-blue,
.ck-content a.button.button--dark-blue,
.ck-content input.button.button--dark-blue {
  background-color: #1f2c5e;
}
.ck-content button.button--dark-blue .heading--display span,
.ck-content a.button.button--dark-blue .heading--display span,
.ck-content input.button.button--dark-blue .heading--display span {
  background-color: #1f2c5e;
}
.ck-content button.button--almost-wildcat-blue,
.ck-content a.button.button--almost-wildcat-blue,
.ck-content input.button.button--almost-wildcat-blue {
  background-color: #002678;
}
.ck-content button.button--almost-wildcat-blue .heading--display span,
.ck-content a.button.button--almost-wildcat-blue .heading--display span,
.ck-content input.button.button--almost-wildcat-blue .heading--display span {
  background-color: #002678;
}
.ck-content button.button--light-blue-tint,
.ck-content a.button.button--light-blue-tint,
.ck-content input.button.button--light-blue-tint {
  background-color: #a1d3ed;
}
.ck-content button.button--light-blue-tint .heading--display span,
.ck-content a.button.button--light-blue-tint .heading--display span,
.ck-content input.button.button--light-blue-tint .heading--display span {
  background-color: #a1d3ed;
}
.ck-content button.button--light-blue-shade,
.ck-content a.button.button--light-blue-shade,
.ck-content input.button.button--light-blue-shade {
  background-color: #106693;
}
.ck-content button.button--light-blue-shade .heading--display span,
.ck-content a.button.button--light-blue-shade .heading--display span,
.ck-content input.button.button--light-blue-shade .heading--display span {
  background-color: #106693;
}
.ck-content button.button--blue-black,
.ck-content a.button.button--blue-black,
.ck-content input.button.button--blue-black {
  background-color: #000500;
}
.ck-content button.button--blue-black .heading--display span,
.ck-content a.button.button--blue-black .heading--display span,
.ck-content input.button.button--blue-black .heading--display span {
  background-color: #000500;
}
.ck-content button.button--light-gray,
.ck-content a.button.button--light-gray,
.ck-content input.button.button--light-gray {
  background-color: #c8c8c7;
}
.ck-content button.button--light-gray .heading--display span,
.ck-content a.button.button--light-gray .heading--display span,
.ck-content input.button.button--light-gray .heading--display span {
  background-color: #c8c8c7;
}
.ck-content button.button--subtle-gray,
.ck-content a.button.button--subtle-gray,
.ck-content input.button.button--subtle-gray {
  background-color: #ebebeb;
}
.ck-content button.button--subtle-gray .heading--display span,
.ck-content a.button.button--subtle-gray .heading--display span,
.ck-content input.button.button--subtle-gray .heading--display span {
  background-color: #ebebeb;
}
.ck-content button.button--barely-gray,
.ck-content a.button.button--barely-gray,
.ck-content input.button.button--barely-gray {
  background-color: #f4f4f5;
}
.ck-content button.button--barely-gray .heading--display span,
.ck-content a.button.button--barely-gray .heading--display span,
.ck-content input.button.button--barely-gray .heading--display span {
  background-color: #f4f4f5;
}
.ck-content button.button--dark-gray,
.ck-content a.button.button--dark-gray,
.ck-content input.button.button--dark-gray {
  background-color: #515664;
}
.ck-content button.button--dark-gray .heading--display span,
.ck-content a.button.button--dark-gray .heading--display span,
.ck-content input.button.button--dark-gray .heading--display span {
  background-color: #515664;
}
.ck-content button.button--blue-gray,
.ck-content a.button.button--blue-gray,
.ck-content input.button.button--blue-gray {
  background-color: #eff4fd;
}
.ck-content button.button--blue-gray .heading--display span,
.ck-content a.button.button--blue-gray .heading--display span,
.ck-content input.button.button--blue-gray .heading--display span {
  background-color: #eff4fd;
}
.ck-content button.button--success,
.ck-content a.button.button--success,
.ck-content input.button.button--success {
  background-color: #7cfc00;
}
.ck-content button.button--success .heading--display span,
.ck-content a.button.button--success .heading--display span,
.ck-content input.button.button--success .heading--display span {
  background-color: #7cfc00;
}
.ck-content button.button--warning,
.ck-content a.button.button--warning,
.ck-content input.button.button--warning {
  background-color: #ff8c00;
}
.ck-content button.button--warning .heading--display span,
.ck-content a.button.button--warning .heading--display span,
.ck-content input.button.button--warning .heading--display span {
  background-color: #ff8c00;
}
.ck-content button.button--alert,
.ck-content a.button.button--alert,
.ck-content input.button.button--alert {
  background-color: #c12c2b;
}
.ck-content button.button--alert .heading--display span,
.ck-content a.button.button--alert .heading--display span,
.ck-content input.button.button--alert .heading--display span {
  background-color: #c12c2b;
}
.ck-content button.button--info,
.ck-content a.button.button--info,
.ck-content input.button.button--info {
  background-color: #a1d3ed;
}
.ck-content button.button--info .heading--display span,
.ck-content a.button.button--info .heading--display span,
.ck-content input.button.button--info .heading--display span {
  background-color: #a1d3ed;
}
.ck-content button.button--ghost,
.ck-content a.button.button--ghost,
.ck-content input.button.button--ghost {
  background-color: transparent;
  border-color: var(--button-hover-border);
  --button-text: var(--button-hover-text);
  --button-border: var(--button-hover-border);
}
.ck-content button.button--bluegrass,
.ck-content a.button.button--bluegrass,
.ck-content input.button.button--bluegrass {
  border-color: var(--color-bluegrass);
}
.ck-content button.button--transparent,
.ck-content a.button.button--transparent,
.ck-content input.button.button--transparent {
  border-color: transparent;
  background-color: transparent;
}
.ck-content button.button--small,
.ck-content a.button.button--small,
.ck-content input.button.button--small {
  font-size: 0.875rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .ck-content button.button--small,
  .ck-content a.button.button--small,
  .ck-content input.button.button--small {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
.ck-content button.button--small,
.ck-content a.button.button--small,
.ck-content input.button.button--small {
  padding-right: calc(1.625rem - 3px);
  padding-left: calc(1.625rem - 3px);
}
.ck-content button.button--large,
.ck-content a.button.button--large,
.ck-content input.button.button--large {
  font-size: 1.1667rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content button.button--large,
  .ck-content a.button.button--large,
  .ck-content input.button.button--large {
    font-size: 1.1667rem;
    line-height: 1.5rem;
  }
}
.ck-content button.button--large,
.ck-content a.button.button--large,
.ck-content input.button.button--large {
  padding-right: calc(2rem - 3px);
  padding-left: calc(2rem - 3px);
}
.ck-content button.video-button {
  display: block;
}
.ck-content button.video-button .video-button__pause {
  display: block;
}
.ck-content button.video-button .video-button__play {
  display: none;
}
.ck-content button.video-button.video-button--paused .video-button__pause {
  display: none;
}
.ck-content button.video-button.video-button--paused .video-button__play {
  display: block;
}
.ck-content #main-content ul li,
.ck-content ol li {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content #main-content ul li,
  .ck-content ol li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.ck-content #main-content ul li,
.ck-content ol li {
  margin-bottom: 0.5rem;
}
.ck-content #main-content ul.no-decoration,
.ck-content ol.no-decoration {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ck-content #main-content ul.no-decoration > li,
.ck-content ol.no-decoration > li {
  margin-left: 0;
  text-indent: 0;
}
.ck-content #main-content ul.no-decoration > li::before,
.ck-content ol.no-decoration > li::before {
  display: none;
}
.ck-content dl dt {
  font-size: 1.1667rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .ck-content dl dt {
    font-size: 1.1667rem;
    line-height: 2rem;
  }
}
.ck-content dl dt {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.ck-content dl dd {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content dl dd {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.ck-content dl dd {
  margin-bottom: 1rem;
  margin-left: 0;
}
.ck-content dl.described-links dt {
  margin-bottom: 0;
}
.ck-content dl.described-links dd {
  margin-left: 0.75rem;
}
.ck-content dl.invisible-labels dt {
  display: none;
}
.ck-content dl.invisible-labels dd {
  margin-bottom: 0;
}
.ck-content .editorial {
  margin-bottom: 1rem;
}
.ck-content .editorial:last-child {
  margin-bottom: 0;
}
.ck-content .editorial::after {
  display: block;
  clear: both;
  content: "";
}
.ck-content .editorial .editorial__aside {
  max-width: 100%;
  margin: 0 auto 1rem;
  transition: 0.3s max-width ease-in-out;
}
.ck-content .editorial strong,
.ck-content .editorial b {
  font-weight: 500;
}
.ck-content .editorial p:first-child {
  margin-top: 0;
}
.ck-content .editorial p:last-child {
  margin-bottom: 0;
}
.ck-content .editorial ol li,
.ck-content .editorial ul li {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .ck-content .editorial ol li,
  .ck-content .editorial ul li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.ck-content .editorial ol li,
.ck-content .editorial ul li {
  margin-bottom: 0.5rem;
}
.ck-content .editorial a.button,
.ck-content .editorial button {
  background-image: none;
}
.ck-content .editorial + .editorial {
  margin-top: 2rem;
}
@media screen and (min-width: 35rem) {
  .ck-content .editorial .editorial__aside.align-left {
    max-width: 50%;
    margin: 0 1rem 1rem 0;
    float: left;
  }
  .ck-content .editorial .editorial__aside.align-right {
    max-width: 50%;
    margin: 0 0 1rem 1rem;
    float: right;
  }
}
@media screen and (min-width: 58rem) {
  .ck-content .editorial .editorial__aside.align-left {
    max-width: 40%;
    margin: 0 1.5rem 1.5rem 0;
  }
  .ck-content .editorial .editorial__aside.align-right {
    max-width: 40%;
    margin: 0 0 1.5rem 1.5rem;
  }
  .ck-content .editorial + .editorial {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 76rem) {
  .ck-content .editorial .editorial__aside.align-left {
    max-width: 40%;
    margin: 0 1.5rem 1.5rem 0;
  }
  .ck-content .editorial .editorial__aside.align-right {
    max-width: 40%;
    margin: 0 0 2rem 2rem;
  }
}
/*# sourceMappingURL=wysiwyg.css.map */
