.uky-headline {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: auto;
}
.uky-headline .uky-headline__super,
.uky-headline .uky-headline__sub {
  display: block;
}
.uky-headline .uky-headline__super {
  font-size: 0.875rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .uky-headline .uky-headline__super {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
.uky-headline .uky-headline__super {
  text-transform: uppercase;
}
.uky-headline .uky-headline__sub {
  font-size: 1.1667rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .uky-headline .uky-headline__sub {
    font-size: 1.1667rem;
    line-height: 1.5rem;
  }
}
.uky-headline .uky-headline__sub {
  font-style: italic;
}
.uky-headline .uky-headline__sub i,
.uky-headline .uky-headline__sub em {
  font-style: normal;
}
.uky-headline .uky-headline__head {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .uky-headline .uky-headline__head {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.teaser .uky-headline .uky-headline__super,
.link-collection .uky-headline .uky-headline__super,
.image-gallery-block .uky-headline .uky-headline__super,
.editorial aside .uky-headline .uky-headline__super {
  font-size: 1rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  .teaser .uky-headline .uky-headline__super,
  .link-collection .uky-headline .uky-headline__super,
  .image-gallery-block .uky-headline .uky-headline__super,
  .editorial aside .uky-headline .uky-headline__super {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.teaser .uky-headline .uky-headline__super,
.link-collection .uky-headline .uky-headline__super,
.image-gallery-block .uky-headline .uky-headline__super,
.editorial aside .uky-headline .uky-headline__super {
  color: #515664;
  font-weight: 500;
}
.teaser .uky-headline .uky-headline__sub,
.link-collection .uky-headline .uky-headline__sub,
.image-gallery-block .uky-headline .uky-headline__sub,
.editorial aside .uky-headline .uky-headline__sub {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  .teaser .uky-headline .uky-headline__sub,
  .link-collection .uky-headline .uky-headline__sub,
  .image-gallery-block .uky-headline .uky-headline__sub,
  .editorial aside .uky-headline .uky-headline__sub {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
.teaser .uky-headline .uky-headline__sub,
.link-collection .uky-headline .uky-headline__sub,
.image-gallery-block .uky-headline .uky-headline__sub,
.editorial aside .uky-headline .uky-headline__sub {
  color: #515664;
  font-weight: 500;
}
.teaser .uky-headline .uky-headline__head,
.link-collection .uky-headline .uky-headline__head,
.image-gallery-block .uky-headline .uky-headline__head,
.editorial aside .uky-headline .uky-headline__head {
  font-weight: 500;
  font-family: "alternate-gothic-atf", sans-serif;
  font-size: 1.775rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  .teaser .uky-headline .uky-headline__head,
  .link-collection .uky-headline .uky-headline__head,
  .image-gallery-block .uky-headline .uky-headline__head,
  .editorial aside .uky-headline .uky-headline__head {
    font-size: 1.875rem;
    line-height: 2rem;
  }
}
.teaser .uky-headline .uky-headline__head .underline-link:link, .teaser .uky-headline .uky-headline__head .underline-link:visited,
.link-collection .uky-headline .uky-headline__head .underline-link:link,
.link-collection .uky-headline .uky-headline__head .underline-link:visited,
.image-gallery-block .uky-headline .uky-headline__head .underline-link:link,
.image-gallery-block .uky-headline .uky-headline__head .underline-link:visited,
.editorial aside .uky-headline .uky-headline__head .underline-link:link,
.editorial aside .uky-headline .uky-headline__head .underline-link:visited {
  color: #1f2c5e;
}

h1.uky-headline .uky-headline__super {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h1.uky-headline .uky-headline__super {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
h1.uky-headline .uky-headline__sub {
  font-size: 1.775rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  h1.uky-headline .uky-headline__sub {
    font-size: 1.875rem;
    line-height: 2rem;
  }
}
h1.uky-headline .uky-headline__head {
  font-size: 2rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  h1.uky-headline .uky-headline__head {
    font-size: 2.375rem;
    line-height: 2.5rem;
  }
}

h2.uky-headline .uky-headline__super {
  font-size: 1.1667rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h2.uky-headline .uky-headline__super {
    font-size: 1.1667rem;
    line-height: 1.5rem;
  }
}
h2.uky-headline .uky-headline__sub {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h2.uky-headline .uky-headline__sub {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
h2.uky-headline .uky-headline__head {
  font-size: 1.775rem;
  line-height: 2rem;
}
@media screen and (min-width: 76rem) {
  h2.uky-headline .uky-headline__head {
    font-size: 1.875rem;
    line-height: 2rem;
  }
}

h3.uky-headline .uky-headline__sub {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h3.uky-headline .uky-headline__sub {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
h3.uky-headline .uky-headline__head {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h3.uky-headline .uky-headline__head {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

h4.uky-headline .uky-headline__sub {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h4.uky-headline .uky-headline__sub {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
h4.uky-headline .uky-headline__head {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h4.uky-headline .uky-headline__head {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

h5.uky-headline .uky-headline__super {
  font-size: 0.875rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  h5.uky-headline .uky-headline__super {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
h5.uky-headline .uky-headline__sub {
  font-size: 1.1667rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h5.uky-headline .uky-headline__sub {
    font-size: 1.1667rem;
    line-height: 1.5rem;
  }
}
h5.uky-headline .uky-headline__head {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h5.uky-headline .uky-headline__head {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

h6.uky-headline .uky-headline__super {
  font-size: 0.875rem;
  line-height: 1rem;
}
@media screen and (min-width: 76rem) {
  h6.uky-headline .uky-headline__super {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
h6.uky-headline .uky-headline__sub {
  font-size: 1.1667rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h6.uky-headline .uky-headline__sub {
    font-size: 1.1667rem;
    line-height: 1.5rem;
  }
}
h6.uky-headline .uky-headline__head {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 76rem) {
  h6.uky-headline .uky-headline__head {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
/*# sourceMappingURL=uky-headline.css.map */
